:root {
  --bg: #222831;
  --box-bg: #393E46;
  --text: #EAEFEF;
}

body {
    font-family: Arial, sans-serif;
    background-color: #222831;
    color: var(--text);
    text-align: center;
    width: 100%;
  }  

  .navBar {
    position: fixed;
    background-color: #948979;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
  }

  .navButton {
    position: fixed;
    top: 15px;
    right: 290px;
    background-color: #393E46;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    font-size: 16px;
  }

  .mainBlock {
    margin-top: 70px;
    width: 100%;
    display: flex;
    gap: 25px;
    padding: 20px;
    box-sizing: border-box;
  }

  .leftBlock{
    margin-top: 70px;
    margin-left: 200px;
    width: 350px;
    height: 400px;
    display: flex;
    background-color: #393E46;
    border-radius: 35px;
    align-items: center;
    align-self: start;
    align-content: center;
  }

  .rightBlock{
    margin-top: 70px;
    width: 800px;
    height: 800px;
    display: flex;
    background-color: #393E46;
    border-radius: 35px;
  }

  .name {
    font-weight: 375;
     font-stretch: 60%;
  }

  footer {
    margin-top: 100px;
    font-size: 14px;
    color: #EAEFEF;
  }
  